<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <app-breadcrumbs></app-breadcrumbs>

            <!-- mi sistema de rutas -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-doby">
                            <!-- this is some text within a card block -->
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer text-center">
            © {{ year }} Admin Pro. by ManuelPrado.
        </footer>
    

    </div>
</div>